{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Register</title>

        <!-- Styles -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/formstyles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
        

    </head>

    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="{% url 'library:landingpage' %}" style="text-decoration: none;">The Bookish Heaven</a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
    
            <main>
                <section>
                    <div class="form-container">
                        <br>
                        <h2 class="m-0">Register as a Librarian</h2>
                        <form method="post">
                            <br>

                            {% csrf_token %}

                            {% for field in form %}
                            <div class="form-item">
                                <label>{{ field.label_tag }}</label>
                                <div>
                                    {{ field }}
                                </div>
                            </div>

                            {% endfor %}

                            <!-- <div class="form-item">
                                <span class="material-icons-outlined">
                                    account_circle
                                </span>
                                <input type="text" name="displayname" id="displayname" placeholder="Display Name">
                            </div>

                            <div class="form-item">
                                <span class="material-icons-outlined">
                                    account_circle
                                </span>
                                <input type="text" name="user" id="user" placeholder="Username">
                            </div>
                        
                            <div class="form-item">
                                <span class="material-icons-outlined">
                                    lock
                                </span>
                                <input type="password" name="pass" id="pass" placeholder="Password">
                            </div> -->
                            
                            <div>
                                <button type="submit">REGISTER</button>
                            </div>
                            <br>

                            <p>Already have an account? <a href="#"> Log In </a></p>

                            
                        </form>
                    </div>
                </section>   
                
            </main>
    
            <footer class="site-footer">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="brand footer-brand">
                            <a href="{% url 'library:landingpage' %}" style="color: aliceblue;">The Bookish Heaven</a>
                        </div>
                        <ul class="footer-links list-reset">
                            <li>
                                <a href="#" style="color: aliceblue;">Contact</a>
                            </li>
                            <li>
                                <a href="#" style="color: aliceblue;">About us</a>
                            </li>
                            <li>
                                <a href="#" style="color: aliceblue;">Library Rules</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    
        <script src="{% static 'js/main.min.js' %}"></script>
    </body>
</html>